<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ebe03fa0-0910-463d-8fbe-98d2923d0b9c/resourceGroups/LFT-Dev-Test/providers/Microsoft.Web/sites/oxford-manor</ResourceId>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://oxford-manor.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ProjectGuid>57d8ac2a-5b86-4480-a2fe-c84abc1c83eb</ProjectGuid>
    <PublishUrl>https://oxford-manor.scm.azurewebsites.net/</PublishUrl>
    <UserName>$oxford-manor</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>